@import url(./button.css);

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e252b;
  color: #fff;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.container {
  width: 100%;
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: #ff6e30;
  color: #fdf5ff;
  padding: 12px 28px;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
}

.second-btn {
  color: rgba(255, 255, 255, 78%);
  font-weight: 600;
  border: 0;
  background-color: transparent;
  width: 106px;
  height: 42px;
}

/* Header */

.header {
  height: 700px;
  background-image: url(../images/hero-Illustration.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 0;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding-left: 60px;
}

.list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 55%);
}

.header-buttons {
  display: flex;
  gap: 41px;
}

/* Hero login */

.hero {
  margin-top: 80px;
}

.hero__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 90%);
  span {
    color: #ff6e30;
    margin-left: -15px;
  }
}

.hero__describtion {
  color: rgba(255, 255, 255, 55%);
  font-weight: normal;
  font-style: 18px;
  line-height: 30px;
  margin-bottom: 60px;
}

.hero__search {
  width: 497.66px;
  height: 64px;
  padding: 8px 15px;
  background-color: #283036;
  border-radius: 15px;
  border: 1.5px solid;
  border-image-source: linear-gradient(
    90.89deg,
    rgba(255, 255, 255, 0.1) -1.67%,
    rgba(255, 255, 255, 0) 103.73%
  );
  display: flex;
  align-items: center;
}

.hero__search-shape {
  margin-right: 14px;
  cursor: pointer;
}
.hero__search-input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  margin-right: 111px;
  width: 200px;
  font-family: inherit;
  &::placeholder {
    font-size: 14px;
    font-weight: normal;
  }
}

.hero__socials {
  display: flex;
  gap: 8px;
  margin-top: 110px;
  img {
    height: 58px;
    width: 58px;
    padding: 11px;
    cursor: pointer;
  }
}

/* Tools */

.tools-container {
  text-align: center;
}
.tools__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  color: rgba(255, 255, 255);
  margin-bottom: 25px;
}
.tools__describtion {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(255, 255, 255, 55%);
  margin-bottom: 90px;
}
.tools__card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  row-gap: 100px;
}
.tools__card {
  width: 392px;
  height: 294px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
  border-radius: 15px;
  padding: 33px;
}

.tools__card.liked {
  border: 2px solid transparent;
  background: url(../images/card-shadow.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.tools__card.liked .tools__card-title {
  color: rgba(255, 255, 255, 90%);
}

.tools__card.liked .tools__card-caption {
  color: rgba(255, 165, 55, 100%);
}

.tools__card.liked .button-like-bg {
  fill: #283036;
}

.tools__card.liked .button-like {
  fill: #fd3b41;
  fill-opacity: 1;
}

.tools__card-top {
  display: flex;
  gap: 30px;
}

.tools__card-img {
  height: 64px;
  width: 64px;
}

.tools__card-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 78%);
}
.tools__card-caption {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(255, 165, 55, 55%);
}

.tools__card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(255, 255, 255, 78%);
}
.tools__card-bottom {
  display: flex;
  justify-content: space-between;
  img,
  svg {
    cursor: pointer;
  }
}
.load-more {
  margin-top: 100px;
  padding: 17px 38px;
  color: #ff6e30;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  background-color: #1e252b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: 0.3s;
}

.load-more:hover {
  background-color: #ff6e30;
  color: #1e252b;
}

/* Logos */
.logos {
  padding: 55px 83px;
  border-radius: 25px;
  text-align: center;
  border: 2px solid #232a30;
  background-image: url(../images/logos-shape.svg);
  background-repeat: no-repeat;
  background-position: top left;
}
.logos__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(255, 255, 255, 80%);
}
.logos__img {
  margin-top: 55px;
  display: flex;
  align-items: center;
  gap: 107px;
}

/* Newcomer tools */

.newcomer {
  display: flex;
  justify-content: space-between;
}
.newcomer__text {
  margin-top: 20px;
}
.newcomer__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}
.newcomer__description {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 60px;
  width: 427px;
}

.newcomer__card-wrapper {
  width: 600px;
  height: 638px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.newcomer__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newcomer__card-top {
  display: flex;
  gap: 30px;
  align-items: center;
}
.newcomer__card-img {
}
.newcomer__card-title {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.newcomer__card-caption {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.newcomer__card-description {
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  width: 245px;
}
.newcomer__card-bottom {
  display: flex;
  justify-content: space-between;
}
.newcomer__card-buttons {
  svg,
  img {
    cursor: pointer;
  }
}
.button-like-bg {
}
.button-like {
}
